RUST_LOG=info

APP_ENVIRONMENT=development
APP_DEBUG=true
DATABASE_URL=postgresql://user_name:password@localhost:5432/db_name
REDIS_URL=redis://127.0.0.1:6379
DATABASE_ENCRYPTION_KEY="Vgpa3LVN5JsnmkAeQjHKvP+oXmP5ftJJm1iIwjOCyN0="
DATABASE_ENCRYPTION_NONCE="qBQwFB4paB07TDLx"

MAX_LOGIN_ATTEMPTS=
LOGIN_ATTEMPTS_COOL_TIME_SECONDS=
SLACK_INCOMING_WEBHOOK_PATH=/services/xxx/xxx/xxx

VAPID_PRIVATE_KEY=
APP_OWNER_EMAIL=owner@myapp.com

APP_SECRET__HMAC_SECRET=
