RUST_LOG=info

APP_ENVIRONMENT=development
APP_DEBUG=true
DATABASE_URL=postgresql://user_name:password@localhost:5432/db_name
REDIS_URL=redis://127.0.0.1:6379

MAX_LOGIN_ATTEMPTS=
LOGIN_ATTEMPTS_COOL_TIME_SECONDS=

APP_SECRET__HMAC_SECRET=
